/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  /*background-color: #1b6ec2;
  border-color: #1861ac;*/
}

header
{
  border: 2px solid black;
  border-bottom:1px;
}

#app-footer
{
  min-height: 48px;
  padding: 1em;
  background-color: none; /* rgb(13, 71, 88); */
  border: 2px solid black;
  text-align: center;
}

#app-footer a
{
  margin:6px;
}

img
{

}

/**/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
  border-color: black;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
  border-bottom:2px solid black;
}

/**/

/* Front page*/
.actionbox
{
  padding:1em;
  text-align:center;
  min-height:60px;
  border: 2px solid black;
  border-bottom:1px;
}
.abhero
{
  background-image: url('/assets/MarcelProustPortrait4.jpeg');
  background-size: cover;
  background-position: center;
  min-height:240px;
  padding-top: 4em;
}

.abhero h1, .abhero h2
{
  color: #fbfbfb;
  color: rgb(13, 71, 88);
}

.abstart
{
  background: rgb(254, 255, 194);
}
.abinspire
{
  background: #f0ffff; /* azure */
}
.ababout
{
  background: #80ffd4; /* aquamarine */
}

/*   Detail view   */
.questmetadata
{
  border: 1px solix black;
}

.dialogtable
{
  border: 1px solix black;
}
