<h1 id="tableLabel">Start Proust Quest</h1>

<p>This component loads Quests data from the server.</p>

<p *ngIf="!questionnaire"><em>Loading...</em></p>

<hr>
<form id="questForm">
  <fieldset>
    <!-- @todo Titel und Author als parm-->
    <legend>Prousts own Questionnaire</legend>
    <div name="questionnaire-metadata">
    <input name="questionnaire-id" type="text" value="{{questionnaire.id}}" />, 
    <input name="questionnaire-author" type="text" value="{{questionnaire.author}}" />
    <input name="questionnaire-topic" type="text" value="{{questionnaire.topic}}" />
    <input name="questionnaire-responseauthor" type="text" value="{{questionnaire.responseAuthor}}" />
    <br>
    </div>
    <div style="margin-top:24px;" *ngFor="let key of getDictionaryKeys()">
      <label for="question-text">Question:{{ key }}</label><br>
      <label for="answer-text">Answer:</label><br>
      <textarea readonly name="answer-text" type="" placeholder="" 
        value="{{ questionnaire.dialogs.get(key) }}" style="margin-left:12px;width:80%;" 
        readonly></textarea>
      </div>

    <!-- 
      <div style="margin-top:24px;" *ngFor="let quest of quests">
      <label for="question-text">{{ quest.questionId }}. {{ quest.questionText }}</label><br>
      <label for="answer-author">Name:</label><input type="text" name="answer-author" value="{{quest.answerAuthor}}"/><br>
      <label for="answer-text">Answer:</label><br>
      <textarea name="answer-text" type="" placeholder="" value="{{quest.answerText}}" style="margin-left:12px;width:80%;"></textarea>
    </div>-->
    <div style="margin-top:24px; margin-bottom:24px;">
      <input type="submit">
    </div>
  </fieldset>
</form>
<hr>