<p *ngIf="!questionnaire"><em>Questionnaire Data couldnt be loaded so far. Loading...</em></p>
<p *ngIf="!dialogx"><em>Dialog Data couldnt be loaded so far. Loading...</em></p>

<h1 id="tableLabel">Read: {{ questionnaire.topic }}</h1>

<table class="questmetadata">
  <tr>
    <td># {{ questionnaire.id }}</td>
    <td>{{ questionnaireAmountQuestions }} Questions</td>
    <td>By: {{ questionnaire.author }} </td>
    <td>For: {{ questionnaire.responseAuthor }}</td>
    <td><button value="Share"></button></td>
  </tr>
</table>

<div style="margin-top:24px;" *ngFor="let dialog of dialogx">
<table class="dialogtable">
  <tr>
    <td class="numcol"># {{ dialog.number }} </td><td>Question:</td><td> {{ dialog.question }} </td>
  </tr>
  <tr>
    <td class="numcol"></td><td>Answer:</td><td> {{ dialog.answer }}</td>
  </tr>
</table>  
</div>