<div class="" style="border:1px solid black;">

<p *ngIf="!quest"><em>quest Data couldnt be loaded so far. Loading...</em></p>
<p *ngIf="!dialogx"><em>Dialog Data couldnt be loaded so far. Loading...</em></p>

<h1 id="tableLabel">Read: {{ quest.topic }}</h1>

<table class="questmetadata" style="border:1px solid black;" >
  <tr>
    <td style="width:10%"># {{ quest.id }}</td>
    <td style="width:20%">{{ questAmountQuestions }} Questions</td>
    <td style="width:30%">By: {{ quest.author }} </td>
    <td style="width:30%">For: {{ quest.responseAuthor }}</td>
    <td style="width:auto;"><button><a class="" onclick="share();">Share</a></button></td>
  </tr>
</table>

<div style="margin-top:24px;border:1px solid black;" *ngFor="let dialog of quest.dialogs">
<table class="dialogtable">
  <tr>
    <td class="numcol" style="width:36px"># {{ dialog.number }} </td><td style="width:60px">Question:</td><td style="width:auto;"> {{ dialog.question }} </td>
  </tr>
  <tr>
    <td class="numcol" style="width:36px"></td><td style="width:60px;">Answer:</td><td style="width:auto;"> {{ dialog.answer }}</td>
  </tr>
</table>  
</div>

</div>