<h2>About</h2>
<!--  -->
<h3>Marcel Proust</h3>
Valentin Louis Georges Eugène Marcel Proust (10 July 1871 - 18 November 1922) was a French novelist, literary critic, and essayist who wrote the monumental novel 'À la recherche du temps perdu' (in French - translated in English as Remembrance of Things Past and more recently as In Search of Lost Time) which was published in seven volumes between 1913 and 1927. 
He is considered by critics and writers to be one of the most influential authors of the 20th century.
<br>
<h3>The Proust Questionnaire</h3>
<p> 
The Proust Questionnaire is a set of questions answered by the French writer Marcel Proust, and often used by modern interviewers. Proust answered the questionnaire in a 
confession album—a form of parlor game popular among Victorians. The album belonged to his friend Antoinette, daughter of future French President Félix Faure, 
titled "An Album to Record Thoughts, Feelings, etc." The album was found in 1924 by Faure's son, and published in the French literary journal Les Cahiers du Mois. 
It was auctioned on May 27, 2003 for the sum of €102,000 ($113,609.46USD). Other historical figures who have answered confession albums are Oscar Wilde, Karl Marx, Arthur Conan Doyle, 
Stéphane Mallarmé, Paul Cézanne, Martin Boucher and Enzo Kehl. The French book talk show host Bernard Pivot used a similar questionnaire at the end of every episode of his 
show Apostrophes. Inspired by Bernard Pivot, James Lipton, the host of the TV program Inside the Actors Studio, used a similar questionnaire. Lipton had often incorrectly characterized 
the questionnaire itself as an invention of Pivot. A similar questionnaire is regularly seen on the back page of Vanity Fair magazine, answered by various celebrities. 
In October 2009, Vanity Fair launched an interactive version of the questionnaire, that compares individual answers to those of various luminaries.
</p>