<h1 id="tableLabel">Proust's own Questionnaire</h1>

<p>This component loads Proust's Questionnaire data from the server.</p>

<p *ngIf="!questionnaire"><em>Loading...</em></p>

<hr>
<form>
  <fieldset>
    <!-- @todo Titel und Author als parm-->
    <legend>Prousts own Questionnaire</legend>
    <input type="text" value="{{questionnaire.id}}" />, 
    <input type="text" value="{{questionnaire.author}}" />
    <input type="text" value="{{questionnaire.topic}}" />
    <input type="text" value="{{questionnaire.responseAuthor}}" />
    <br>
    <!--
    <div style="margin-top:24px;" *ngFor="let key of getDictionaryKeys()">
      <label for="question-text">{{ key }}</label><br>
      <label for="answer-text">{{ questionnaire.dialogs[key] }}</label>
    </div> -->
    
    <div style="margin-top:24px;" *ngFor="let key of getDictionaryKeys()">
      <label for="question-text">Question:{{ key }}</label><br>
      <label for="answer-text">Answer:</label><br>
      <textarea readonly name="answer-text" type="" placeholder="" 
        value="" style="margin-left:12px;width:80%;" readonly></textarea>
    </div>
  
    <div style="margin-top:24px; margin-bottom:24px;">
      <!--<input name="submit" type="submit" value="submit">-->
    </div>
  </fieldset>
</form>
<hr>