<div class="" style="border:1px solid black;">
  
<h1 id="tableLabel">Proust's own quest</h1>

<p>This component loads Proust's quest data from the server.</p>

<p *ngIf="!quest"><em>Loading...</em></p>

<hr>

<form>
  <fieldset>
    <!-- @todo Titel und Author als parm-->
    <legend>Prousts own quest</legend>
    <input type="text" name="quest-id" value="{{quest.id}}" />, 
    <input type="text" name="quest-author" value="{{quest.author}}" />
    <input type="text" name="quest-topic" value="{{quest.topic}}" />
    <input type="text" name="quest-responseauthor" value="{{quest.responseAuthor}}" />
    <br>

    <div style="margin-top:24px;border:1px solid black;" *ngFor="let dialog of quest.dialogs">
      <table class="dialogtable">
        <tr>
          <td class="numcol" style="width:36px"># {{ dialog.number }} </td><td style="width:60px">Question:</td><td style="width:auto;">
            <textarea name="question-text" type="" placeholder="" value="" style="margin-left:12px;width:auto;">{{ dialog.question }}</textarea>  </td>
        </tr>
        <tr>
          <td class="numcol" style="width:36px"></td><td style="width:60px;">Answer:</td>
          <td style="width:auto;"> 
            <textarea name="answer-text" type="" placeholder="" value="" style="margin-left:12px;width:auto;"></textarea>
          </td>
        </tr>
      </table>  
      </div>

    <div style="margin-top:24px; margin-bottom:24px;">
      
      <button type="button" (click)="onSubmit()"><span class="navbar-toggler-icon"> Absenden</span>
      </button>

    </div>
  </fieldset>
</form>
</div>
<hr style="margin-top:12px;">