<h1 id="tableLabel">Start Proust Quest</h1>

<p>This component loads Quests data from the server.</p>

<p *ngIf="!quest"><em>Loading...</em></p>

<hr>
<form id="questForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <!-- @todo Titel und Author als parm-->
    <legend>Prousts own quest</legend>
    <div name="quest-metadata">
    <input name="quest-id" type="text" value="{{quest.id}}" />, 
    <input name="quest-author" type="text" value="{{quest.author}}" />
    <input name="quest-topic" type="text" value="{{quest.topic}}" />
    <input name="quest-responseauthor" type="text" value="{{quest.responseAuthor}}" />
    <br>
    </div>
    <div name="questions">
      <div style="margin-top:24px;">
        <label for="answer-text">Frage:</label><br>
        <textarea readonly name="answer-text" type="" placeholder="" value="" style="margin-left:12px;width:80%;" readonly>
        </textarea>
      </div>
    </div>
    <div style="margin-top:12px">
      <input name="addquestion" type="button" value="">
    </div>
    <div style="margin-top:24px; margin-bottom:24px;">
      <input type="submit">
    </div>
  </fieldset>
</form>
<hr>