<p *ngIf="!quest"><em>quest Data couldnt be loaded so far. Loading...</em></p>
<p *ngIf="!dialogx"><em>Dialog Data couldnt be loaded so far. Loading...</em></p>

<h1 id="tableLabel">Edit: {{ quest.topic }}</h1>

<form id="questForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Edit the quest</legend>
    <div name="quest-metadata">
    <input name="quest-id" type="text" value="{{quest.id}}" />, 
    <input name="quest-author" type="text" value="{{quest.author}}" />
    <input name="quest-topic" type="text" value="{{quest.topic}}" />
    <input name="quest-responseauthor" type="text" value="{{quest.responseAuthor}}" />
    <br>
    </div>
    <div style="margin-top:24px;" *ngFor="let dialog of dialogx">
      <label for="question-text">Question: {{ dialog.question }}</label><br>
      <label for="answer-text">Answer:</label><br>
      <textarea readonly name="answer-text" type="" placeholder="" 
        value="{{ dialog.answer }}" style="margin-left:12px;width:80%;" 
        readonly></textarea>
      </div>
    <div style="margin-top:24px; margin-bottom:24px;">
      <input type="submit">
    </div>
  </fieldset>
</form>
<hr>