<h1 id="tableLabel">Start Proust Quest</h1>

<p>This component loads Quests data from the server.</p>

<p *ngIf="!quests"><em>Loading...</em></p>

<hr>
<form>
  <fieldset>
    <!-- @todo Titel und Author als parm-->
    <legend>Prousts own Questionnaire</legend>
    <div style="margin-top:24px;" *ngFor="let quest of quests">
      <h4><label for="question-text">{{ quest.questionId }}. Question: </label></h4>
      <p>{{ quest.questionText }}</p>
      <!-- <input name="question-text" type="" placeholder="" value="{{quest.questionText}}" style="margin-left:6px;width:fit-content;" readonly> -->
      <h4><label for="answer-text">Answer</label></h4>
      <input name="answer-text" type="" placeholder="" value="{{quest.answerText}}" style="margin-left:12px;width:80%">
    </div>
    <div style="margin-top:24px; margin-bottom:24px;">
      <input name="submit" type="submit" value="submit">
    </div>
  </fieldset>
</form>
<hr>